
@if (auth.isloggedin()) {
<!-- <div class="flex flex-wrap justify-start p-3 mb-10 absolute"> -->
    <!-- <svg xmlns="http://www.w3.org/2000/svg" class="bg-secondary-light dark:bg-secondary p-1 rounded-xl" width="45"
        height="45" viewBox="0 0 16 16">
        <path fill="none" stroke="white" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5"
            d="M2.75 12.25h10.5m-10.5-4h10.5m-10.5-4h10.5" />
    </svg> -->
<!-- </div> -->
 <!-- navbar still needs styling -->
<nav>
    <ul>
        <li><a routerLink="/login" routerLinkActive="active" ariaCurrentWhenActive="page" >login</a></li>
        <li><a routerLink="/groups" routerLinkActive="active" ariaCurrentWhenActive="page" >groups</a></li>
        <li><a routerLink="/points" routerLinkActive="active" ariaCurrentWhenActive="page" >points</a></li>
        <li><a routerLink="/students" routerLinkActive="active" ariaCurrentWhenActive="page" >students</a></li>
        <li><a routerLink="/dashboard" routerLinkActive="active" ariaCurrentWhenActive="page" >dashboard</a></li>
    </ul>
</nav>
}


<router-outlet></router-outlet>