<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Batchadd</title>
</head>
<body class="bg-primary-light dark:bg-primary h-screen ">
    <div class="flex items-center justify-center">
        <div class="w-96 p-6 bg-secondary-light dark:bg-secondary rounded-lg shadow-lg">
            <input type="text" placeholder="Voornaam" class="flex-1 p-2 bg-secondary-light dark:bg-secondary text-white rounded focus:outline-none focus:ring-2 focus:ring-tertiary-light dark:focus:ring-tertiary">
            <input type="text" placeholder="Achternaam" class="flex-1 p-2 bg-secondary-light dark:bg-secondary text-white rounded focus:outline-none focus:ring-2 focus:ring-tertiary-light dark:focus:ring-tertiary">
        </div>
        <div class="space-y-4 mb-4">
            <input type="email" placeholder="email adres" class="w-full p-2 bg-secondary-light dark:bg-secondary text-white rounded focus:outline-none focus:ring-2 focus:ring-tertiary-light dark:focus:ring-tertiary">
            <input type="text" placeholder="Password" class="w-full p-2 bg-secondary-light dark:bg-secondary text-white rounded focus:outline-none focus:ring-2 focus:ring-tertiary-light dark:focus:ring-tertiary">
            <input type="text" placeholder="Klas" class="w-full p-2 bg-secondary-light dark:bg-secondary text-white rounded focus:outline-none focus:ring-2 focus:ring-tertiary-light dark:focus:ring-tertiary">
        </div>
        <div class="flex space-x-4">
            <button class="flex-1 p-2 bg-accent-green-light dark:bg-accent-green text-white font-semibold rounded hover:bg-accent-green dark:hover:bg-accent-green-light focus:outline-none focus:ring-2 focus:ring-accent-green-light dark:focus:ring-accent-green">Toevoegen </button>
            <button class="flex-1 p-2 bg-accent-red-light dark:bg-accent-red text-white font-semibold rounded hover:bg-accent-red dark:hover:bg-accent-red-light focus:outline-none focus:ring-2 focus:ring-accent-red-light dark:focus:ring-accent-red">Annuleren</button>
        </div>

    </div>
</body>
</html>
