<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Batchadd</title>
</head>
<body>
    <div class="bg-primary-light dark:bg-primary min-h-screen flex items-center justify-center p-4">
        <div class="w-full max-w-lg bg-secondary-light dark:bg-secondary rounded-lg shadow-lg p-6">
            <!--Input veld voornaam en achternaam-->
            <div class="space-y-4">
                <div class="grid grid-cols-2 gap-4">
                    <input #firstName type="text" placeholder="Voornaam" 
                    class="bg-tertiary-light dark:bg-tertiary text-white placeholder-white/70 p-3 rounded-lg focus:outline-none focus:ring-2 
                    focus:ring-primary-light dark:focus:ring-primary">
                    <input #lastName type="text" placeholder="Achternaam"
                    class="bg-tertiary-light dark:bg-tertiary text-white placeholder-white/70 p-3 rounded-lg 
                    focus:outline-none focus:ring-2 focus:ring-primary-light dark:focus:ring-primary">
                </div>
                <!--Email en password velden-->
                <input #email type="email" placeholder="Email" 
                class="w-full bg-tertiary-light dark:bg-tertiary text-white placeholder-white/70 p-3 rounded-lg
                focus:outline-none focus:ring-2 focus:ring-primary-light dark:focus:ring-primary">
            
                <input #password type="password" placeholder="Password" 
                class="w-full bg-tertiary-light dark:bg-tertiary text-white placeholder-white/70 p-3 rounded-lg
                focus:outline-none focus:ring-2 focus:ring-primary-light dark:focus:ring-primary">
                
                <!--Class en role-->
                <div class="grid grid-cols-2 gap-4">
                    <input #class type="text" placeholder="Klass" 
                    class="bg-tertiary-light dark:bg-tertiary text-white placeholder-white/70 p-3 rounded-lg 
                    focus:outline-none focus:ring-2 focus:ring-primary-light dark:focus:ring-primary">
            
                    <select #role class="bg-tertiary-light dark:bg-tertiary text-white p-3 rounded-lg focus:outline-none focus:ring-2 focus:ring-primary-light dark:focus:ring-primary appearance-none">
                        <option value="" disabled selected>Role</option>
                        <option value="1">Student</option>
                        <option value="2">Leerkracht</option>
                        <option value="3">Admin</option>
                    </select>
                </div>
                <!--Buttons-->
                <div class="grid grid-cols-2 gap-4">
                    <button (click)="addUser(firstName.value, lastName.value,password.value, email.value, +role.value)" class="bg-accent-green-light dark:bg-accent-green hover:bg-accent-green 
                    dark:hover:bg-accent-green-light text-white font-semibold p-3 rounded-lg transition-color duration-200">
                    Toevoegen</button>
            
                    <button class="bg-accent-red-light dark:bg-accent-red hover:bg-accent-red 
                    dark:hover:bg-accent-red-light text-white font-semibold p-3 rounded-lg transition-color duration-200">
                    Annuleren </button>
                </div>
            
            </div>
        </div>
    </div>
</body>
</html>

