<body class="bg-primary-light dark:bg-primary h-screen">
    <div class="flex flex-wrap justify-start p-3 mb-24">
        <!-- <svg xmlns="http://www.w3.org/2000/svg" class="bg-secondary-light dark:bg-secondary p-1 rounded-xl" width="45"
            height="45" viewBox="0 0 16 16">
            <path fill="none" stroke="white" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5"
                d="M2.75 12.25h10.5m-10.5-4h10.5m-10.5-4h10.5" />
        </svg> -->
    </div>
    <!-- class/back button and edit button -->
    <div class="flex flex-wrap justify-center mt-16">
        <div class="flex flex-wrap justify-between w-9/12">
            @if (selectedClass != null) {
            <div
                class="w-1/4 flex justify-center self-center bg-secondary-light dark:bg-secondary text-white rounded-xl shadow-lg hover:bg-tertiary-light dark:hover:bg-tertiary">
                <button (click)="viewClasses()" [class.hidden]="isHidden" (mouseover)="ishovered = true"
                    (mouseleave)="ishovered=false">{{ishovered? 'terug' : selectedClass.name | capitalizename}}</button>
            </div>
            }
            <div
                class="w-1/6 flex justify-center self-center bg-secondary-light dark:bg-secondary text-white rounded-xl invisible">
                <button class="invisible">Edit</button>
            </div>
        </div>
    </div>

    <!--search student-->
    <label for="searchStudents">
        <div class="flex flex-wrap justify-center m-2" [class.hidden]="isHidden">
            <div class="flex flex-wrap w-9/12">
                <input
                    class="w-screen p-2 bg-secondary-light dark:bg-secondary text-white rounded-xl shadow-lg outline-secondary-light dark:outline-secondary"
                    type="text" [(ngModel)]="searchStudents">
            </div>
        </div>
    </label>

    <!--search class-->
    <label for="searchClasses">
        <div class="flex flex-wrap justify-center m-2 mb-3" [class.hidden]="isVisible">
            <div class="flex flex-wrap w-9/12">
                <input
                    class="w-screen p-2 bg-secondary-light dark:bg-secondary text-white rounded-xl shadow-lg outline-secondary-light dark:outline-secondary"
                    type="text" (input)="searchClasses()" [(ngModel)]="searchClasses">
            </div>
        </div>
    </label>

    <!--students-->
    <div class="flex flex-wrap justify-center" [class.hidden]="isHidden">
        <div class="flex flex-wrap flex-col w-9/12 overflow-x-auto h-96">
            @if (filteredStudents().length !== 0) {
            @for (student of searchedStudents(); track student.id) {
            <div class="flex flex-wrap justify-evenly flex-row m-2">
                <div class="w-1/6 h-10 p-2 flex justify-center self-center text-white dark:text-primary rounded-xl shadow-lg border-white"
                    [ngClass]="GetClassColor(student.average)">
                    {{student.average}}%
                </div>
                <button (click)="RedirectToStudent(student.id)"
                    class="w-2/3 h-10 p-2 flex self-center bg-secondary-light dark:bg-secondary text-white rounded-xl shadow-lg hover:bg-tertiary-light dark:hover:bg-tertiary">
                    <div>{{student.firstname + ' ' + student.lastname | capitalizename}}</div>
                </button>
            </div>
            }
            } @else {
            <div class="flex flex-wrap justify-evenly flex-row m-2 text-white">No students found.</div>
            }
        </div>
    </div>

    <!--classes-->
    <div class="flex flex-wrap justify-center" [class.hidden]="isVisible">
        <div class="flex flex-wrap flex-col w-9/12 overflow-y-auto h-96">
            <div class="flex flex-wrap justify-evenly gap-3 flex-row">
                @for (class of searchedClasses(); track class.id) {
                <button (click)="viewStudents()" (click)="SetStudentFilter(class.id)" (click)="selectClass(class)"
                    class="w-2/5 p-2 flex justify-center self-center bg-secondary-light dark:bg-secondary text-white rounded-xl shadow-lg hover:bg-tertiary-light dark:hover:bg-tertiary">
                    <div>
                        {{class.name | capitalizename}}
                    </div>
                </button>
                }
            </div>
        </div>
    </div>
</body>