<body class="bg-primary h-screen">
    <!--menu button-->
    <div class="flex flex-wrap justify-start m-3 mb-10" [class.hidden]="isVisible">
        <svg xmlns="http://www.w3.org/2000/svg" class="bg-secondairy p-1 rounded-xl" width="45" height="45" viewBox="0 0 16 16"><path fill="none" stroke="white" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="M2.75 12.25h10.5m-10.5-4h10.5m-10.5-4h10.5"/></svg>
    </div>

    <div class="flex flex-wrap mb-16" [class.hidden]="isHidden"> </div>

    <!--search tests-->
    <div class="flex flex-wrap justify-evenly">
        <label for="search">
            <div class="flex flex-wrap m-2" [class.hidden]="isVisible">
                <input id="search" class="p-2 bg-secondairy text-white rounded-xl outline-secondairy" 
                type="text" (input)="onInputChange()" [(ngModel)]="search">
            </div>
        </label>
        <label for="filter">
            <div class="flex flex-wrap m-2" [class.hidden]="isVisible">
                <select id="filter" class="p-2 bg-secondairy text-white rounded-xl outline-secondairy" (change)="filterCourses(filter)" [(ngModel)]="filter">
                    @for (course of courses; track course.id) {
                        <option id="{{course.id}}">{{course.name}}</option>
                    }
                </select>
            </div>
        </label>
    </div>

    <!--tests-->
    <div class="flex flex-wrap justify-center" [class.hidden]="isVisible">
        <div class="flex flex-wrap flex-col w-9/12">
            @if (searched.length > 0) {
                @for (test of searched; track test.id) {
                    <div class="flex flex-wrap justify-evenly flex-row m-2">
                        <div class="w-2/3 p-2 flex self-center bg-secondairy text-white rounded-xl">
                            <button id="{{test.id}}" (click)="viewPoints()" (click)="displayStudents(test.id)" (click)="selectTest(test)">{{test.name}}</button>
                        </div>
                    </div>
                }
            } @else {
                <div class="flex flex-wrap justify-evenly flex-row m-2">No tests found.</div>
            }
        </div>
    </div>

    <!--test/back button-->
    @if (selectedTest != null) {
        <div class="flex flex-wrap justify-center" [class.hidden]="isHidden">
            <div class="flex flex-wrap w-9/12">
                <div class="w-1/6 flex justify-center self-center bg-secondairy text-white rounded-xl">
                    <button (click)="viewTests()">{{selectedTest.name}}</button>
                </div>
            </div>
        </div>
    }

    <!--student and points-->
    <div class="flex flex-wrap justify-center" [class.hidden]="isHidden">
        <div class="flex flex-wrap flex-col w-9/12">
            @if (filteredStudents.length > 0) {
                @for (filteredStudent of filteredStudents; track filteredStudent.id) {
                    <div class="flex flex-wrap justify-evenly flex-row m-2">
                        <div class="w-2/3 p-2 flex self-center bg-secondairy text-white rounded-xl">
                            {{filteredStudent.firstname}} {{filteredStudent.lastname}}
                        </div>
                        <div class="w-1/6 p-2 flex justify-center self-center bg-emerald-400 text-primary rounded-xl">
                            {{filteredStudent.value}}/{{filteredStudent.maxvalue}}
                        </div>
                    </div>
                }
            } @else {
                <div class="flex flex-wrap justify-evenly flex-row m-2">No Students results found.</div>
            }
        </div>
    </div>
</body>