<!--menu button-->
<div class="flex flex-wrap justify-start m-3 mb-10" [class.hidden]="isVisible">
    <svg xmlns="http://www.w3.org/2000/svg" class="bg-fuchsia-800 p-1 rounded-xl" width="45" height="45" viewBox="0 0 16 16"><path fill="none" stroke="white" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="M2.75 12.25h10.5m-10.5-4h10.5m-10.5-4h10.5"/></svg>
</div>

<div class="flex flex-wrap mb-16" [class.hidden]="isHidden"> </div>

<!--search tests-->
<label for="search">
    <div class="flex flex-wrap justify-center m-2" [class.hidden]="isVisible">
        <div class="flex flex-wrap w-9/12">
            <input id="search" class="w-screen p-2 bg-fuchsia-800 text-white rounded-xl outline-fuchsia-800" type="text" (input)="onInputChange()" [(ngModel)]="search">
        </div>
    </div>
</label>

<!--tests-->
<div class="flex flex-wrap justify-center" [class.hidden]="isVisible">
    <div class="flex flex-wrap flex-col w-9/12">
        @if (searched.length > 0) {
            @for (test of searched; track test.id) {
                <div class="flex flex-wrap justify-evenly flex-row m-2">
                    <div class="w-2/3 p-2 flex self-center bg-fuchsia-800 text-white rounded-xl">
                        <button id="{{test.id}}" (click)="viewPoints()" (click)="displayStudents(test.id)" (click)="selectTest(test)">{{test.name}}</button>
                    </div>
                </div>
            }
        } @else {
            <div class="flex flex-wrap justify-evenly flex-row m-2">No tests found.</div>
        }
    </div>
</div>

<!--test/back button-->
@if (selectedTest != null) {
    <div class="flex flex-wrap justify-center" [class.hidden]="isHidden">
        <div class="flex flex-wrap w-9/12">
            <div class="w-1/6 flex justify-center self-center bg-fuchsia-800 text-white rounded-xl">
                <button (click)="viewTests()">{{selectedTest.name}}</button>
            </div>
        </div>
    </div>
}

<!--student and points-->
<div class="flex flex-wrap justify-center" [class.hidden]="isHidden">
    <div class="flex flex-wrap flex-col w-9/12">
        @if (filteredStudents.length > 0) {
            @for (filteredStudent of filteredStudents; track filteredStudent.id) {
                <div class="flex flex-wrap justify-evenly flex-row m-2">
                    <div class="w-2/3 p-2 flex self-center bg-fuchsia-800 text-white rounded-xl">
                        {{filteredStudent.firstname}} {{filteredStudent.lastname}}
                    </div>
                    <div class="w-1/6 p-2 flex justify-center self-center bg-emerald-400 text-purple-900 rounded-xl">
                        {{filteredStudent.value}}/{{filteredStudent.maxvalue}}
                    </div>
                </div>
            }
        } @else {
            <div class="flex flex-wrap justify-evenly flex-row m-2">No Students results found.</div>
        }
    </div>
</div>