<head class="h-screen bg-purple-900">

</head>
<body class="h-screen bg-purple-900">
    <div class="flex flex-col ">
        <div class="flex">
            <div class="w-1/2 p-4 text-fuchsia-600" >
                <h1>UserName</h1>
                <h3>UserCourse </h3>
            </div>
            <div class="w-1/2 p-4 text-fuchsia-600 overflow-auto h-48 " [class.hidden]="isVisible">
               @for(subject of subjects; track subject.id)
               {
                <div>{{subject.point}} <button (click)="viewSubjects()" >{{subject.name}}</button></div>
                <div>
                    
                </div>
               }
               <div>
                <button></button>
               </div>
            </div>
            <div class="w-1/2 p-4 text-fuchsia-600 overflow-auto h-48 " [class.hidden]="isHidden">
                <div class="sticky top-0 bg-violet-900 "  ><button (click)="viewTests()">Back</button>    subject name</div>
                @for(test of tests; track test.id)
                {
                    <div>{{test.name}} {{test.score}}</div>
                }
            </div>
        </div>
        <div class="p-6 mt-4 text-fuchsia-600 overflow-auto h-48">
            @for(group of groups; track group.id)
            {
                <div>{{group.subject}} {{group.class}} {{group.studentName}}</div>
            }
        </div>
    </div>
    
</body>
