<body class="h-screen bg-primary-light dark:bg-primary">
    <!--username/class + points-->
    <div class="flex flex-wrap flex-row h-3/5 lg:h-3/5 pt-12 lg:pt-32 content-end lg:flex-col">
        <!--username/class-->
        <div class="flex flex-wrap flex-col flex-grow content-start lg:content-end">
            <div class="flex">
            <button class="flex flex-wrap justify-center text-white m-5 ml-8 bg-secondary-light dark:bg-secondary rounded-xl w-1/3">
                Back
            </button>
            </div>
            <div class="flex mt-16 hidden"> </div>
            <div class="flex flex-wrap content-center">
                <div class="flex flex-wrap flex-col p-4 ml-10 mt-10 text-white" >
                    <h1 class="text-7xl">
                        UserName
                    </h1>
                    <h3 class="text-xl ml-2">
                        UserCourse
                    </h3>
                </div>
            </div>
        </div>
        <!--points-->
        <div class="flex flex-wrap w-full lg:w-2/3 scrollbar-none overflow-y-auto mt-10 h-2/5 lg:h-4/5">
            <!--all courses + average-->
            <div class="flex flex-wrap flex-col flex-grow p-2 text-white" [class.hidden]="isVisible">
                @for(subject of subjects; track subject.id) {
                    <div class="flex flex-wrap flex-row content-center h-10 m-1 rounded-xl">
                        <div class="flex flex wrap w-1/6 p-1 ml-12 lg:ml-36 mr-10 justify-center bg-accent-green-light dark:bg-accent-green rounded-xl">
                            {{subject.point}}
                        </div>
                        <div class="flex flex-wrap p-1 w-1/2 justify-start bg-secondary-light dark:bg-secondary rounded-xl">
                            <button (click)="viewSubjects()">{{subject.name}}</button>
                        </div>
                    </div>
                }
            </div>
            <!--all tests from a course + score-->
            <div class="flex flex-wrap flex-col w-2/3 flex-grow p-2 m-2 ml-4 text-white" [class.hidden]="isHidden">
                <button class="flex flex-wrap fixed top-60 lg:top-32 bg-secondary-light dark:bg-secondary justify-center w-1/4 lg:w-1/6 ml-12 lg:ml-32 rounded-xl" (click)="viewTests()">
                    subject name
                </button>
            </div>
            <div class="flex flex-wrap flex-col w-2/3 flex-grow p-2 m-2 ml-4 text-white" [class.hidden]="isHidden">
                @for(test of tests1; track test.id) {
                    <div class="flex flex-wrap flex-row content-center h-10 m-1 rounded-xl">
                        <div class="flex flex-wrap p-1 w-1/2 justify-start ml-12 lg:ml-32 mr-10 bg-secondary-light dark:bg-secondary rounded-xl">{{test.name}}</div>
                        <div class="flex flex wrap p-1 w-1/6 justify-center bg-accent-green-light dark:bg-accent-green rounded-xl">{{test.score}}</div>
                    </div>
                }
            </div>
        </div>
    </div>
    <!--tutor overview-->
    <div class="flex flex-wrap scrollbar-none overflow-y-auto h-1/4 p-2 mt-10 content-start justify-self-center bg-secondary-light dark:bg-secondary rounded-xl w-9/12">
        <div class="flex flex-wrap flex-col w-full text-white">
            @for(group of groups; track group.id) {
                <div class="flex flex-wrap flex-row justify-evenly content-center m-1 bg-tertiary-light dark:bg-tertiary rounded-xl">
                    <div class="flex flex wrap w-1/4 justify-start">{{group.subject}}</div>
                    <div class="flex flex-wrap w-1/4 justify-center hidden sm:block">{{group.class}}</div>
                    <div class="flex flex-wrap w-1/4 justify-end">{{group.studentName}}</div>
                </div>
            }
        </div>
    </div>
    
</body>
